---
- name: Install EPEL repository (needed for nginx on CentOS)
  ansible.builtin.yum:
    name: epel-release
    state: present
  become: yes

- name: Install nginx
  ansible.builtin.yum:
    name: nginx
    state: present
  become: yes

- name: Copy nginx configuration
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/default.conf
  become: yes
  notify: Restart nginx
- name: Ensure nginx is started and enabled
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes
  become: yes



#Handlers - name: Restart nginx ansible.builtin.service: name: nginx state: restarted enabled: yes become: yes