---
- name: Deploy application
  hosts: appservers
  become: yes
  tasks:
    - name: Copy new app package
      copy:
        src: ../roles/app/files/app_package.tar.gz
        dest: /opt/app/app_package.tar.gz

    - name: Extract app package
      unarchive:
        src: /opt/app/app_package.tar.gz
        dest: /opt/app/
        remote_src: yes

    - name: Restart app service
      service:
        name: app
        state: restarted
